@import "~bootstrap/scss/bootstrap";
@import "_variables.scss";

body {
    background-color: $bodyBgColor;
    font-family: Arial, Helvetica, sans-serif;
    color: $bodyTextColor;
    h1 {
        color: $h1TextColor;
    }
}